* {margin: 0; padding: 0;}
#wrapper {
  width: 50%;
  margin: 10px;
}
#cart_content {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #060;
}
.item_box {
  border: 1px solid #999;
  margin-bottom: 10px;
  padding: 5px;
}
.shopping_list {
	width: 100%;
  margin-top: 10px;
	border-collapse: collapse;
}
.shopping_list td,
.shopping_list th {
	padding: 10px;
	border: 1px solid #AAAAAA;
}
